---
interface Props {
  title?: string;
}
const { title = 'Bienenwerk' } = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico" />
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/css/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/border.css" />
    <link rel="stylesheet" href="/css/swiper.css" />
  </head>
  <body>
    <slot />
    <script is:inline src="/lib/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/lib/js/swiper-bundle.min.js"></script>
  </body>
</html>
